<section
  class="movie--card"
  onclick="window.location.href='/movie/id/<%= movie.id %>'"
>
  <h2 class="movie--title"><%=movie.title%></h2>
  <img
    class="movie--image"
    src="<%= movie.image_url %>"
    alt="<%= movie.title %>"
  />
  <p class="movie--supplier">Supplier: <%= movie.supplier%></p>
  <p class="movie--stock">Stock: <%=movie.stock%></p>
</section>
