<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="./manageScripts.js" defer></script>
  </head>
  <body>
    <header>
      <div class="utility-bar">
        <form id="filters" class="search--form" action="/manage" method="GET">
          <input
            type="text"
            name="title"
            placeholder="Movie title"
            value="<%= movieSearched || '' %>"
          />
          <button class="search--btn"><img src="./search.png" alt="" /></button>
        </form>

        <button class="filter--btn">
          <img src="./filter.png" alt="filter icon" />
        </button>
      </div>

      <% if (tags && tags.length > 0) { %>
      <div class="filters--cont hidden">
        <% tags.forEach(tag => { %>
        <div class="filter--labelInput">
          <input type="checkbox" form="filters" name="tags" value="<%= tag.name
          %>" id="tag-<%= tag.name %>" <%= selectedTags &&
          selectedTags.includes(tag.name) ? 'checked' : '' %> />
          <label for="tag-<%= tag.name %>"
            ><%= tag.name[0].toUpperCase() + tag.name.slice(1) %></label
          >
        </div>
        <% }); %>
      </div>
      <% } %>
    </header>

    <% if (searched) { %>
    <a class="link--allMovies" href="/manage">View All Movies</a>
    <% } %>

    <section class="items--cont">
      <% if (movies && movies.length > 0) { %> <% for (let i = 0; i <
      movies.length; i++) { %> <%- include("item", { movie: movies[i] }) %> <% }
      %> <% } else { %>
      <p class="empty-results">No movies found with the given filters.</p>
      <% } %>
    </section>
  </body>
</html>
