<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/movieScripts.js" defer></script>
  </head>
  <body>
    <div class="error--notification">
      <p><%= errorMsg%></p>
    </div>
    <section class="single--cont">
      <img
        class="single--poster"
        src="<%=movie.image_url%>"
        alt="movie poster"
      />
      <div class="details--cont">
        <p><span class="bold">Title:</span> <%=movie.title%></p>
        <p><span class="bold">Genre:</span> <%=movie.genre%></p>
        <p><span class="bold">Section:</span> <%=movie.section%></p>
        <p><span class="bold">Supplier:</span> <%=movie.supplier%></p>
        <p>
          <span class="bold">Tags:</span> <%=movie.tags.split(", ").map(word =>
          word[0].toUpperCase() + word.slice(1)).join(", ")%>
        </p>
        <p><span class="bold">Stock:</span> <%=movie.stock%></p>
      </div>
      <a class="single--back" href="/manage">Go Back</a>
      <img class="single--edit" src="/edit.png" alt="Edit movie" />
      <img class="single--delete" src="/delete.png" alt="Delete movie" />
      <div class="update--password hiddenPass">
        <h2>Enter Admin Password</h2>
        <form action="/movie/update/id/<%=movie.id%>" method="POST">
          <input
            placeholder="password"
            class="admin--input"
            type="text"
            name="password"
          />

          <button>Enter</button>
          <img class="close" src="/close.png" alt="Close" />
        </form>
      </div>
      <div class="delete--password hiddenPass">
        <h2>Enter Admin Password</h2>
        <form action="/movie/delete/id/<%=movie.id%>" method="POST">
          <input type="text" placeholder="password" name="password" />
          <button>Delete Movie</button>
          <img class="close" src="/close.png" alt="Close" />
        </form>
      </div>
    </section>
  </body>
</html>
